
       .bg-color{
        background-color: rgb(100, 11, 11);
        color: white;
      }
       .mynav{
          background-color: rgb(226, 199, 174);
        }
        .navbrand-font{
          font-size: 26px;
          color:  rgb(100, 11, 11);
        }

        .mynav a{
          color: rgb(100, 11, 11);
        }
        .dropdown-menu{
          background-color: rgb(66, 64, 64);
          margin:0px 3px;
          border-radius: 0px 0px 6px 6px;
      
        }
        .dropdown-menu a:hover,a:active,a:visited,a:link  {
          
          margin: 4px 10px;
          background-color: rgb(226, 199, 174);
      
        }
        
        
        .mynav .btn:hover, a:hover  {
          text-align: center;
          color:white;
           border: 0px;
           border-radius: 2px;
           background-color: rgb(66, 64, 64);
          box-shadow:    0px 7px 8px rgb(100, 11, 11);}
 
          .mynav a:hover, .btn:active,.btn:visited,.btn:link,.btn:link{
            border: 0px;
           
          }
          .btn-color{
            color: rgb(100, 11, 11);
            border:1px solid black; 
            box-shadow:    0px 7px 8px rgb(100, 11, 11);
            
        }
        
        .btn-outline-color{
            border:1px solid  rgb(100, 11, 11);
            color: rgb(100, 11, 11);
        }
        .btn:hover{
          color:white;
          border: 0px;
          background-color: gray;
           box-shadow:    0px 5px 8px rgb(100, 11, 11);
            

        }
        .bd-placeholder-img {
          font-size: 1.125rem;
          fill: rgb(100, 11, 11);
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .card-inner{
          margin-left: 4rem;
      }
        
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
        
       
   a:hover,a:visited,a:active{
            text-decoration: none;
            
        }
 
    

    .feedbackFontSize,.contactFontSize{
        font-size: 16px;
        font-weight: bold;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background:rgb(64, 102, 206);
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .othertop{margin-top:10px;
      }
      
         .dropdown-menu{
           display: none;
         }
  
  
  
 