/* Assignment#1 The Appertment */

.container{
    position :relative;
    width: 272px;
    height:309px;
     border: 1px solid rgba(#979797,35%) ;
    border-radius:4px; 
    background-color:#f8f8f8;
    opacity:23;
    border-radius: 3px;

    
   
}

/* Adjusting the image size*/
.Adj{
   
   width:272px;
   height: 223px;
   
}
/* Adjusting the size and the position of the $46*/
.content1{
  
  font-size: 28px;
  letter-spacing: 0.0px;
  color: #ffffff;
  font-family: 'Libertad-W00SC-Bold';
  position:absolute;
  left: 19px;
  top: 176px;
  bottom: 14px;
  width: 52px;
  height: 33px;
  
 
  
}
/* Adjusting the size and the position of the  1 bedroom Appartment */
.content2{

font-size: 17px; 
letter-spacing: 0.0px;
color:#1e2d52;
font-family:'Times New Roman', Times, serif;
width: 160px;
height: 23px;
position: absolute;
left:19px;
top:239px;
right: 93px;
bottom: 47px;


}
/* Adjusting the size and the position of the  Feb 20 */
.content3{
font-size: 17px;
letter-spacing: 0.0px;
color: #222222;
font-family:'Times New Roman', Times, serif;
width: 50px;
height: 23px;
position: absolute;
left:19px;
top:265px;
bottom: 21px;

}
/*--------------------------------------------------------------------------------*/
/* Assignment#2 The Mask */
.parent { 
    position: relative; 
    width: 1110px; 
    height: 460px; 
    background-color: #fafafa; 
     
    
  } 

  /* Adjusting the size and the position of the  image */
  .child1 { 
    position: absolute; 
    top: 80px; 
    left: 72px; 
    width:400px;
      height: 300px;
      border-radius: 20px;
      border: #ffd7ab;
      
  
     
  }
  /* Adjusting the size and the position of the paragraph */
  .child2 { 
    position: absolute; 
    left: 590px; 
    top: 80px; 
    width: 458px; 
    height: 192px; 
    background-color: #fafafa; 
    font-size: 30px; 
    letter-spacing: 0px;
    font-family: 'Rubik-Black', sans-serif;
    margin-right: 62px;
    
    
  
  }
  /* Adjusting the size and the position of Alberto Donka */
  .child3 { 
    position: absolute; 
    left: 590px; 
    top:324px; 
    width: 300px; 
    height: 28px;  
    font-size: 24px; 
    text-align: left;  
    color: #373742;
    font-family: 'Rubik-medium', sans-serif;
    margin-right: 220px;
  
  }
  /* Adjusting the size and the position of CEO, Squarereaund */
  .child4 { 
    position: absolute; 
    left: 590px; 
    top:360px; 
    width: 300px; 
    height: 24px; 
    font-family: 'Rubik-regular', sans-serif;
    font-size: 20px; 
    text-align: left; 
    color :#838383;
    margin-right: 220px
  }
  
  
  .mask
{
    width:400px;
    height:300px; 
    background:transparent;
    background-color: #ffd7ab;
    border-radius:20px;
    
}

  



