body {font-family:Arial}
.topbanner{
    height: 100px;
    background-color: white;
  
   
}
/*------------Side navbar--------------------------*/
.side-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.side-bar a {

  display: block;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: #027CC9;
  width:80px;
  font-size: 20px;
}

.side-bar a:hover {
  background-color: #E8AC58;
  box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2);
}

/*--------------------------------------------------------*/
.brand{
    color:#28915e;
    font-size: 40px;
    font-family: 'Titan One', cursive;
    
    float:center;
    padding: 0px;
    
    text-shadow: 2px 4px 3px #E8AC58;

  

}
h1{
  font-family: 'Carter One', cursive;
  color: #333;
}
.smallBrand{
  font-family: 'Merienda One', cursive;
  font-size: 18px;
  color: #333;
}
small,h2{
  color:#027CC9;
  font-family: 'Carter One', cursive;
}
h3{
  color:#28915e;
  font-family: 'Carter One', cursive;
}
h4{
  color:#027CC9;
  font-size: 20px;
  font-family: 'Carter One', cursive;
}
 
h4 a{
  color:#027CC9;
  text-shadow: 2px 4px 3px #E8AC58;
  text-decoration: none;

}
h4.shade{
  color:black;
  text-shadow: 2px 4px 3px #E8AC58;
  text-decoration: none;

}
h4 a:hover{
  
  text-decoration: none;

}

h5{
  color:black;
  font-family: 'Carter One', cursive;
}
h6{
  font-family: 'Merienda One', cursive;
  color: #333;

}
.formFontSize{
   font-family: 'Capriola', sans-serif;
  color: black;
  font-size: 16px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
 
}

.bg-color{
  background-color: #E8E3DC;
  box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2);
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color:#28915e;
  color: white;
}

.topnav .icon {
  display: none;
}

.mydropdown {
  float: left;
  overflow: hidden;
}

.mydropdown .mydropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.mydropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1;
}

.mydropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .mydropdown:hover .mydropbtn {
  color:white;
  
  background-color: #E8AC58;
   box-shadow:    4px 10px 12px  #98C1D9;
}

.mydropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.mydropdown:hover .mydropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .mydropdown .mydropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .mydropdown {float: none;}
  .topnav.responsive .mydropdown-content {position: relative;}
  .topnav.responsive .mydropdown .mydropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


  /*////////////////////////////////////////button////////////////////////////////////////////////////*/
  .btn-color{
    background-color:#28915e;
    font-family: 'Merienda One', cursive;  
    box-shadow:    0px 7px 8px #E8AC58;

}
.btn-goal{
    color:white;
    background-color:#3C7789;
    font-family: 'Merienda One', cursive;  
    box-shadow:    0px 7px 8px #027CC9;
}
.btn-form{
  color:white;
  background-color:#3C7789;
   font-family: 'Merienda One', cursive;  
   box-shadow:    0px 7px 8px #E8AC58;
}
.outline-color{
    background-color: #E8AC58;
    
}
.btn:hover,.btn:active{
  color:white;
  border: 0px;
  background-color: #E8AC58;
   box-shadow:    4px 10px 12px  #98C1D9;
   ;
    

}


                   

 /* ////////////////////////////////////////Carsoul//////////////////////////////////////////////////*/
 .carousel-inner img {
    width: 100%;
    height: 100%;
  }

 * {box-sizing: border-box}
/*body {font-family: Verdana, sans-serif; margin:0}*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #717171;
  }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}




.hideSearchInputbtn,.hide {
  display: block;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* Hide the search and the input fiels when resizing */
@media only screen and (max-width: 600px) {
  .hideSearchInputbtn {
    display: none;
  }
.hide{
  display: none;
}
}

.myimgLeft {
  margin-right: 20px;
  float: left;
}

.myimgRight {
  margin-left: 20px;
  float: right;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

        
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
        caption{
            text-align: center;
           font-style: italic;
        }
        .boxShadow{
        box-shadow: 0px 5px 8px black;
        }
        .boxShadow{
        box-shadow: 0px 5px 8px black;
        }
        .myimg{
          margin-right: 20px;
      }   