body,html{
    margin: 0px

}
.content{

    padding: 30px;
}
.nav-main{
    width: 100%;
    background-color: blue;
    color: white;
    height: 70px;

}

.nav-main .logo{
    float: left;
    height: 40px;
    padding: 15px 30px;
    font-size: 1.4em;
    line-height: 40px;


}
.nav-main>ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
}

.nav-main>ul>li{
    float: left;}

.nav-item{
    display: inline-block;
    padding: 15px 20px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-decoration: none;

}
.nav-item:hover{
    background-color: rgb(0, 153, 255);
}

.nav-content{
    position: absolute;
    top:70px;
    overflow: hidden;
    background-color: blue;
   max-height: 0px;
    

}
.nav-content a{
    color: white;
    text-decoration:none;

}
.nav-content a:hover{
    color: white;
    text-decoration: underline;}

    .nav-content ul{
        padding: 0px;
        margin-top:0px;
    }
    .nav-sub{
   
        padding:20px;
    }
    .nav-sub ul{
        list-style-type: none;
        margin: 0px;
        margin:0px;

    }
    .nav-sub ul li a{/* .nav-sub a*/
        display: inline-block;
        padding: 5px 0px;



    }

    .dropdown-menu{
        
    }
.nav-item:focus{

    background-color: blue;
}
.nav-item:focus ~ .nav-content{
    
    max-height: 400px;
    -webKit-transition: max-height 0.4s ease-in;/*chrome and Safari*/
    -moz-transition: max-height 0.4s ease-in;
    transition: max-height 0.4s ease-in;
}