*{
    padding:0px;
    margin:0px;
}


nav{
    width:100%;
    background-color: blue;
    height: 60px;
}
nav p{
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    font-size: 26px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
   font-weight: bold;

}
nav ul{
    float:left;
    list-style: none;


}
nav ul li{
  
    float:left;

    position: relative;
    
}
nav ul li:hover a{
  background: rgb(231, 226, 226);
  color: black;
    
}
nav ul li a{
    display:block;
    line-height: 55px;
    padding: 2px 20px;
    text-decoration: none;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}
nav ul li  ul{
    display:none;
    position: absolute;
    background-color: rgb(231, 226, 226);
    padding: 0px;
    margin: 0px;
    border-radius: 0px 0px 6px 6px;
}
nav ul li  ul li {
    padding: 3px 8px;
    width:200px;
    color: black;
   
}
nav ul li  ul li a{
    color: black;
}

nav ul li:hover ul {
    display:block;
   
}
nav ul li ul li a:hover{
    background-color:white;
    
}
.selDec{
    float:right;
    margin-top: 15px;
    margin-right: 30px;
    width:100px;
    height: 30px;
}
