
        .bd-placeholder-img {
          font-size: 1.125rem;
          fill: rgb(5, 122, 25);
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
        .fontsize-navbrand{
            font-size: 26px;
        }
        .btn-color{
            background-color: rgb(5, 122, 25);
            color: white;
            border:1px solid black; 
            
        }
        .bg-color{
            background-color: rgb(5, 122, 25);
            color: white;
        }
        .btn-outline-color{
            border:1px solid  rgb(5, 122, 25);
            color: rgb(4, 87, 4);
        }
        .btn-hover:hover{
          color:white;
          border: 0px;
          background-color: rgb(66, 64, 64);
         box-shadow:    0px 5px 8px rgb(5, 122, 25);
            
       

        }
        a:hover,a:visited,a:active{
            text-decoration: none;
            
        }
  .btn-active:active,.btn-visited:visited,.btn-focus:link{
    border: 0px;}

    .card-inner{
        margin-left: 4rem;
    }

    .feedbackFontSize,.contactFontSize{
        font-size: 16px;
        font-weight: bold;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 80px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background:rgb(64, 102, 206);
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      .othertop{margin-top:10px;
      }
      .decoratedHover:hover{
        color:white;
        background-color: black;
       box-shadow:    10px 10px 8px rgb(5, 122, 25);
      }

     
      
      .homebtn:hover {
         text-align: center;
         transition: height 3s;
         transition: width 2s;
         width: 90px;
         height: 40px;
         color:white;
          border: 0px;
          background-color: rgb(66, 64, 64);
         box-shadow:    0px 5px 8px rgb(5, 122, 25);}

         .dropdown-menu{
           display: none;
         }